body{
    background-image: url("homepage.jpg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgreen;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
    margin-top: 40px;
}
h1{
  text-align: center;
  font-size: 60px;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    opacity: 0.5;
}
table,th,td {
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    padding: 8px;
    text-align: center;
}
td{
	background-color: beige;
    width: 20%;
}
h1{
    color: green;
    size: 10px;
}

.button {
    background-color: rgba(255,255,255,0); /* Green */
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 20%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-color: green;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-left: 0px;
    margin-bottom: 25px;
    width: 50%;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

 div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.text-block {
    position: absolute;
    background-color: rgba(0,0,0,0);
    background: transparent;
    color: white;
    width: 100%;
    height: 20%;
    text-align: left;
}